/* palanquin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/palanquin-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  color: inherit;
  font-size: inherit;
  font-family: "Palanquin";
  scroll-behavior: smooth;
}

.content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.pro-card{
    max-width: 320px;
    padding: 20px;
    border: 2px;
}

.badge{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;

    background-color: #4EA487;
    color: #F1C953;
    border-radius: 10px;

    padding: 10px;

    transform: rotate(-12deg);
    right: 35px;
    top: 25px;
}

a{
    color: #4EA487;
    font-weight: bold;
}

h3{
    font-size: 28px;
}


