.wrapper{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  p,
  li {
    font-weight: 400px;
    line-height: 120%;
  }

  .ordered-list-carousel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    ol {
      padding-left: 24px;

      li {
        padding-left: 4px;
      }
    }
  }
}
.footer {
  width: 100%;
  height: auto;
  background-color: rgba(78, 164, 135, 1);

  .footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    padding: 30px 0;

    .footer-left {
      display:flex;
      flex-direction: column;
      div,
      p, a {
        font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
      }

      #copyright{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        img{
          height: 16px;
          width: 16px;
        }
      }
    }

    .footer-right{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 7px;

      a{
        text-decoration: none;
      }

      img{
        width: 24px;
        height: auto;
      }

      #yt{
        width:34px;
        height: auto;
      }
    }
  }
}

.article-layout {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: auto;
    gap: 24px;

    .headline-text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1 {
        font-family: "Arima";
        font-weight: 700;
        font-size: 36px;
        color: rgba(241, 201, 83, 1);
        line-height: 100%;
        letter-spacing: 0%;

        .kicker {
          font-weight: 600;
          font-size: 18px;
          line-height: 120%;
          color: rgba(78, 164, 135, 1);
          display: block;
          margin-bottom: 8px;
        }
      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: rgba(84, 55, 13, 1);
        line-height: 120%;
      }
    }

    .headline-info {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        line-height: 100%;
     

      .info {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }


    .author-card {
      width: 100%;
      height: auto;
      background-color: rgba(78, 164, 135, 0.2);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 16px 8px;

      .ac-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
      }
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 20px;
      }

      .ac-title {
        font-weight: 400;
        color: rgba(84, 55, 13, 1);
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          font-family: "Arima";
          font-weight: 700;
          font-size: 1rem;
          line-height: 120%;
        }

        p {
          font-family: "Arima";
          font-weight: 400;
          font-size: 1rem;
          line-height: 120%;
        }
      }
      .ac-text p {
        font-weight: 400;
        color: rgba(84, 55, 13, 1);
        font-size: 1rem;
        line-height: 120%;
        text-align: center;
      }
    }
  }
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/arima-v7-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



.share-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

p{
    display: flex;
    text-align: center;
    font-family: "Arima";
    color: #54370D;
}

.button-content img{
    width: 32px;
    height: 32px;
}

.button-content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    width: 343px;
    height: 100px;
}

.share-button{
    background-color: #4EA487;
    color: #F1C953;
    border:#4EA487;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border-radius: 40px;

    font-family: "Arima";
    font-size: 24px;
    font-weight: bold;

    width: 158px;
    height: 48px;

    position: relative;
    right: 30px;
}

.share-button a{
    display: flex;
}

.button-content > img{
    width: 50px;
    height: 60px;

    position: relative;
    right: 50px;
    bottom: 30px;
}

.arrow2{
    display: none;
}

@media screen and (max-width: 900px) {
    .headline{
        max-width: 320px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 901px) and (max-width: 1440px) {
    .headline p{
        max-width: 460px;
        display: flex;
        justify-content: center;
        font-size: 24px;
    }

    .button-content > img{
    display: none;
    width: 100px;
    height: 90px;

    position: relative;
    right: 70px;
    bottom: 10px;

    transform: rotate(-30deg);
}

.arrow2{
    display: block;
    width: 100px;
    height: 90px;

    position: relative;
    right: 200px;
    bottom: 100px;

    transform: rotate(-5deg)
}

}







