.header-mobile {
  background-color: rgba(78, 164, 135, 1);
  height: clamp(70px, 7dvw, 128px);
  display: flex;
  justify-content: center;
  align-items: center;

  #header-img-mobile {
    height: 56px;
    width: 56px;
  }
}

*{
    color:rgba(84, 55, 13, 1);
    line-height: 120%;
}

.article-layout {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: auto;
    gap: 24px;

    .headline-text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1 {
        font-family: "Arima";
        font-weight: 700;
        font-size: 36px;
        color: rgba(241, 201, 83, 1);
        line-height: 100%;
        letter-spacing: 0%;

        .kicker {
          font-weight: 600;
          font-size: 18px;
          line-height: 120%;
          color: rgba(78, 164, 135, 1);
          display: block;
          margin-bottom: 8px;
        }
      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: rgba(84, 55, 13, 1);
        line-height: 120%;
      }
    }

    .headline-info {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      line-height: 100%;

      .info {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }


    .author-card {
      width: 100%;
      height: auto;
      background-color: rgba(78, 164, 135, 0.2);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 16px 8px;

      .ac-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
      }
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 20px;
      }

      .ac-title {
        font-weight: 400;
        color: rgba(84, 55, 13, 1);
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          font-family: "Arima";
          font-weight: 700;
          font-size: 1rem;
          line-height: 120%;
        }

        p {
          font-family: "Arima";
          font-weight: 400;
          font-size: 1rem;
          line-height: 120%;
        }
      }
      .ac-text p {
        font-weight: 400;
        color: rgba(84, 55, 13, 1);
        font-size: 1rem;
        line-height: 120%;
        text-align: center;
      }
    }
  }


h4 {
    font-size: 20px;
    font-family: "Arima";
    color:black;
    font-weight: 600;
    text-align: center;
}

.graph{
    height: 170px;
    width: 285px;
    border-radius: 30px;
    box-shadow: -2px 4px 11px rgba(0, 0, 0, 0.25);
}

figure{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.graphsquare{
    height: 240px;
    object-fit: cover;
}

.graph-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer {
  width: 100%;
  height: auto;
  background-color: rgba(78, 164, 135, 1);

  .footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    padding: 30px 0;

    .footer-left {
      display:flex;
      flex-direction: column;
      div,
      p, a {
        font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
      }

      #copyright{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        img{
          height: 16px;
          width: 16px;
        }
      }
    }

    .footer-right{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 7px;

      a{
        text-decoration: none;
      }

      img{
        width: 24px;
        height: auto;
      }

      #yt{
        width:34px;
        height: auto;
      }
    }
  }
}