/* arima-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/arima-v7-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/arima-v7-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/arima-v7-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/palanquin-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/palanquin-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/palanquin-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  color: inherit;
  font-size: inherit;
  font-family: "Palanquin";
  scroll-behavior: smooth;
}

.content {
  width: 100%;
  padding: 0px max(calc(50% - 720px), 1rem);
}



.FAQ-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 16px;

  .faq-headline{
    display: flex;
    flex-direction: row;
    align-items: center;

    h2{
      font-size: 40px;
      font-family: "Arima";
      color: #4EA487;
    }

    img{
      width: 40px;
      height: 40px;
    }
  }

  .faq-card{
  background-color: #F1C953;
  border-radius: 12px;

  width: 100%;
  padding: 8px;
}

summary{
  justify-content: space-between;
  text-align: left;

  width: 300px;
  height: 70px;
  font-size: 16px;
  font-family: "Palanquin";
  padding: 8px;
}

.arrow{
  width: 24px;
  height: 24px;
}

p{
  background-color: white;
}
}

summary::marker{
  content: "";
}
