/* arima-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/arima-v7-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/arima-v7-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/arima-v7-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/palanquin-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/palanquin-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/palanquin-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  color: inherit;
  font-size: inherit;
  font-family: "Palanquin";
  scroll-behavior: smooth;
}

.content {
  width: 100%;
  padding: 0 max(calc(50% - 720px), 1rem);
}

.header-background {
  background-color: rgba(78, 164, 135, 1);
}

/* 
breakpoint 1: 620px

breakpoint 2: 900px

breakpoint 3: 1200px 
*/

.header-mobile {
  width: 100%;
  height: clamp(70px, 12dvw, 128px);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 620px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  }

  #header-img-mobile {
    height: 56px;
    width: 56px;

    @media screen and (min-width: 900px) {
      width: clamp(56px, 5dvw, 72px);
      height: clamp(56px, 5dvw, 72px);
    }
  }

  .nav-bar {
    display: none;

    @media screen and (min-width: 620px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      list-style-type: none;

      a {
        font-size: clamp(16px, 2dvw, 24px);
        color: white;
        font-family: "Arima";
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
