/* arima-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/arima-v7-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/arima-v7-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Arima";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/arima-v7-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* palanquin-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/palanquin-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/palanquin-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/palanquin-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  color: inherit;
  font-size: inherit;
  font-family: "Palanquin";
  scroll-behavior: smooth;
}

.content {
  width: 100%;
  padding: 0px max(calc(50% - 720px), 1rem);
}

.highlight-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 24px;

  .head-titel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  }

  h2{
    font-size: 40px;
    color: #4EA487;
    font-family: "Arima";
    font-weight: 700;
  }

  .highlight-slider{
    position: relative;

   width: 300px;
   height: 500px;

   display: flex;
   justify-content: center;
   align-items: flex-end;

   overflow: hidden;
   }

   .highlight-slider input{
    z-index: 2;
   }

   .highlight-slider-wrapper{
    z-index: 1;

    width: 400%;
    height: 100%;

    position: absolute;
    left: 0;
    display: flex;

    transition: all 1s ease-in-out;
   }

   .slider-img{
    width: calc(100% / 4);
    height: 100%;
   }

   .element-one{
      background-image: url(./assets/img/tropical-beach.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-right-radius: 100px;
   }

   .element-two{
    background-image: url(./assets/img/scandinavia.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-right-radius: 100px;
   }

   .element-three{
    background-image: url(./assets/img/thailand.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-right-radius: 100px;
   }

   .element-four{
    background-image: url(./assets/img/mount-fuji.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-right-radius: 100px;
   }

   .highlight-slider input[value="one"]:checked~.highlight-slider-wrapper{
    transform: translateX(0);
   }

   .highlight-slider input[value="two"]:checked~.highlight-slider-wrapper{
    transform: translateX(-25%);
   }

   .highlight-slider input[value="three"]:checked~.highlight-slider-wrapper{
    transform: translateX(-50%);
   }

   .highlight-slider input[value="four"]:checked~.highlight-slider-wrapper{
    transform: translateX(-75%);
   }

   .text-img{
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    border: 1px solid #f1f1f1;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 220px;
    padding: 16px;
   }

   .text-1{
    font-size: 24px;
    font-family: "Palanquin";
    font-weight: bold;
   }

   .text-2{
    font-size: 16px;
    font-family: "Palanquin";
    font-weight: 400;
   }
}
